{% extends 'base.html.twig' %}

{% block title %}
  HomePage
{% endblock %}

{% block body %}
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="overlay-image"
          style="background-image: url('images/slide.jpg');"></div>
        <div class="carousel-item active">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1 class="text-light">
                The best URL shortener
              </h1>
              <p>
                A URL shortener designed with powerful tools to help you develop
                and protect your brand
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img loading="lazy"
            width="320"
            height="180"
            src="{{ asset('images/illustration-1.png') }}" />
          <h2 class="fw-bold">
            Inspire confidence
          </h2>
          <p class="text-start">
            With more clicks, brand recognition and confidence consumers in your
            communications increase, which at its Tour inspires even more
            commitment with your links
          </p>
        </div>

        <div class="col-lg-4">
          <img loading="lazy"
            width="320"
            height="180"
            src="{{ asset('images/illustration-2.png') }}" />
          <h2 class="fw-bold">
            Boost your results
          </h2>
          <p class="text-start">
            In addition to better deliverability and a better rate of clicks,
            statistics in terms of links give you an overview crucial of your
            commitment so that your team can take more judicious decisions
            concerning its content and its communications
          </p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img loading="lazy"
            width="320"
            height="180"
            src="{{ asset('images/illustration-3.png') }}" />
          <h2 class="fw-bold">
            Take control
          </h2>
          <p class="text-start">
            Take credit for your content and learn more about how of which it is
            consumed by activating the auto-short, a functionality which
            guarantees that your brand remains in any link shortened by Someone
            pointing to your website
          </p>
        </div>
      </div>
      <!-- /.row -->

      <hr class="featurette-divider" />
    </div>
    <!-- /.container -->

    <section class="col col-lg-10 mx-auto mb-5">
      <div class="card" id="shortenCard">
        <div class="card-body bg-light">
          <form id="shortenForm">
            <div class="col">
              <div class="input-group">
                <input type="text"
                  class="form-control form-control-lg"
                  name="url"
                  id="url"
                  placeholder="Your address to be shortened"
                  autocomplete="off"
                  required />
                <button type="submit"
                  class="btn btn-lg btn-success"
                  id="btnShortenUrl">
                  Shorten the URL
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
