{% extends 'base.html.twig' %}

{% block title %}
  HomePage
{% endblock %}

{% block body %}
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="overlay-image"
          style="background-image: url('images/slide.jpg');"></div>
        <div class="carousel-item active">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1 class="text-light">
                The best URL shortener
              </h1>
              <p>
                A URL shortener designed with powerful tools to help you develop
                and protect your brand
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="col col-lg-10 mx-auto mb-5">
      <div class="card" id="shortenCard">
        <div class="card-body bg-light">
          <form id="shortenForm">
            <div class="col">
              <div class="input-group">
                <input type="text"
                  class="form-control form-control-lg"
                  name="url"
                  id="url"
                  placeholder="Your address to be shortened"
                  autocomplete="off"
                  required />
                <button type="submit"
                  class="btn btn-lg btn-primary"
                  id="btnShortenUrl">
                  Shorten the URL
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
