<h1>Salut !  Veuillez confirmez votre adresse e-mail</h1>

<p>
    Veuillez cliquer sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>.
    Ce lien dans expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>