<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light p-0 m-0">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img src="/images/logo.png" alt="Logo" width="90" height="70" />
			</a>

			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.urls.count >
						0 %}
						<a class="nav-link text-dark" href="{{ path('url_list') }}"
							>My links</a
						>
						{% endif %}
					</li>
				</ul>

				<div class="d-flex justify-content-center align-items-center">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<div>Welcome {{ app.user.username }}</div>
					<a class="btn btn-outline-danger me-2" href="{{ path('app_logout') }}"
						>Logout</a
					>
					{% else %}
					<a class="btn btn-outline-primary me-2" href="{{ path('app_login') }}"
						>Login</a
					>
					<a class="btn btn-primary" href="{{ path('app_register') }}"
						>Register</a
					>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
</header>
