{% extends 'base.html.twig' %}

{% block title %}
  Statistics for {{ domain }}
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="text-center">
      <h1>
        Statistics for {{ domain }}
      </h1>
    </div>

    {{ render_chart(chart) }}
  </div>
{% endblock %}
